# other files
**.sh

# vscode folder
.vscode/

# environments variables file
.env

# drive to work with firefox and seleniun
geckodriver
geckodriver.log

# python file to help with pyautogui
position.py

# poetry dependencies manager files
poetry.lock
pyproject.toml

# __pycache__ of classes folder
classes/__pycache__/
tests/__pycache__/
**pyc
**/__pycache__/

# the trouble model
trouble_model.md

# pytest files
.pytest_cache